<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookStore Management System</title>
  <link rel="stylesheet" th:href="@{/css/navStyle.css}">
</head>
<body>
  <header>
      <div class="logo"> <a href="/">BookStore</a></div>
      <nav>
        <a href="/" class="active">Home</a>
        <a href="available_books">Available Book</a>
        <a href="my_books" >My Book</a>
      </nav>
      <div class="auth-links">
        <a href="book_register" class="registerBook">Register Book</a>
      </div>
    </header>
  <div class="container">
    

    <main>
      <div class="content">
        <h1>Welcome to Our BookStore</h1>
        <p class="description">
            Welcome to <span>BookStore</span>, your new favorite destination for discovering incredible reads! Whether you’re a lifelong book lover or just starting your reading journey, we offer a carefully curated collection of books across all genres — from timeless classics to today’s bestsellers. Our goal is to create a cozy online space where stories come to life, and every book finds its perfect reader. Browse, explore, and let your next adventure begin here!
        </p>
      </div>

      <div class="image-container">
        
            <img th:src="@{/images/image.png}" alt="image" class="book-image">
        
      </div>
    </main>
  </div>
</body>
</html>